* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    width: 100%;
    height: 100%;
    background: url('images/img_1.jpg') center;
    background-size: cover;
    overflow-y: hidden;
    color: white;
}

button {
    background: transparent;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgb(253, 253, 253);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.navbar {
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
        color: white;
        font-size: 18px;
        padding: 15px;
    }
}

.header {
    position: absolute;
    top: 50%;
    left: 8%;
    h1 {
        font-size: 60px;
        margin: 10px 0 30px;
        line-height: 70px;
    }
}

.side-bar {
    width: 50px;
    height: 100vh;
    background: linear-gradient(to right, rgb(84, 66, 243), #0d2495);
    position: absolute;
    right: 0;
    top: 0;
}

 .bubble {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
    cursor: pointer;
    img {
        width: 50px;
        animation: bubble 7.5s linear infinite;

        &:nth-child(1) {
            width: 20px;
            animation-delay: 4s;
        }
        &:nth-child(2) {
            width: 14px;
            animation-delay: 1s;
        }
        &:nth-child(3) {
            width: 38px;
            animation-delay: 2s;
        }
        &:nth-child(4) {
            //animation-delay: ;
            width: 40px;
        }
        &:nth-child(5) {
            width: 10px;
            animation-delay: 1s;
        }
        &:nth-child(6) {
            width: 60px;
            animation-delay: 4s;
        }
        &:nth-child(7) {
            width: 25px;
            animation-delay: 3s;
        }
        &:nth-child(8) {
            width: 32px;
            animation-delay: 2s;
        }
    }
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        transition: ease-in-out;
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 1;
        transition: ease-in-out;
    }
}

.img {
    background-color: green;
}

